html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
}

button {
  display: inline-block;
  margin: 0 4px;
  cursor: pointer;
}

ul > li {
  padding: 5px;
}

input {
  font-family: inherit;
}
