html {
  font-size: 150%;
}

body {
  font-family: Roboto, sans-serif;
  color: #212121;
}

h1 {
  font-weight: 500;
}

h2,
h3,
p {
  margin: 0;
  line-height: 1.5;
}

h3 {
  font-weight: 500;
}

button {
  display: inline-flex;
  font-size: inherit;
  cursor: pointer;
  margin: 0 4px;
  padding: 8px 16px;
  font-family: inherit;
}

input,
textarea {
  font-size: inherit;
  margin-bottom: 16px;
}
