.list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.item {
  width: calc(33.3333% - 16px);
  margin: 8px;
  padding: 16px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
