@value primary-dark-color from '../../theme/colors.css';

.note {
}

.actions {
  display: flex;
  justify-content: center;
}

.text {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0;
  margin-right: 24px;
  color: primary-dark-color;
}
