@value primary-dark-color from '../../theme/colors.css';

.note {
  padding-top: 8px;
}

.actions {
  display: flex;
  justify-content: center;
}

.text {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0;
  margin-bottom: 24px;
  line-height: 1.5;
  color: primary-dark-color;
}

.priority {
  font-size: 18px;
  font-weight: 500;
}
